<h1> Packages: </h1>


<% @categories.each do |category| %>
<p><%= category.price %>€</p>  
<%= category.number_of_visits %>
  <%= link_to category.name, new_gym_booking_path(@gym), class: "btn btn-success" %>
<% end %>