<div class="category-card-container">
<% @categories.each do |category| %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
  <%#= link_to gym_category_path(@gym, category.id) do %>
  <div class="category-card">
    <div class="category-card-title">
      <div id="category-card-title-line">
        <div id="category-card-name">
          <p> <%= category.name %></p>
        </div>
      </div>
      <p> <%= category.number_of_visits %></p>
      <p>Access to all facilities</p>
      <% if category.name != "Unlimited One Month Pass" %>
      <p>Valid for 30 days</p>
      <% else %>
      <p> Valid for 60 days</p>
      <% end %>

      <div id="category-card-price">
        <h2><%= humanized_money(category.price) %> Eur</h2>
      </div>
      <div class="category-card-footer">
        <div id="category-card-footer-line">
        </div>
      </div>
       <%= link_to gym_category_path(@gym, category.id) do %>
       <div class="button-buy">
         <div id="button-text">
           <h2 class="text-center">Purchase</h2>
         </div>
       </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
</div>




