<div class="picture-background">
  <h1> Join the best gyms of Lisbon in less than 5 minutes</h1>

  <h3> Enjoy flexibility, no strings attached. Choose between a 1-Time Pass, 10-Times Pass and the Unlimited Pass. No joining or cancellation fees.</h3>

  <div class="point-one text-center">
    <h2> Great prices</h2>
    <p> Enjoy being healthy without breaking your pocket.</p>
  </div>
  <div class="point-two text-center">
    <h2> No joining fee</h2>
    <p> Join any gym you like. For free.</p>
  </div>
  <div class="point-three text-center">
    <h2> Cancel anytime</h2>
    <p> No cancellation fees, no hard feelings</p>
  </div>

  <%= link_to gyms_path do %>
  <div class="button-home">
    <div id="button-home-text">
      <h2>Discover Gyms</h2>
    </div>
  </div>
</div>
<% end %>
</div>