<% @orders.each do |order| %>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  <div class="pass-card">
    <div class="pass-card-photo" style="background: url('<%= order.gym_photo %>')">
      <div class="pass-card-title">
        <% if order.category_name != "Unlimited One Month Pass" %>
        <h2 class="pass-name text-center"> <%= order.category_name %></h2>>
        <% else %>
        <h3 class="pass-name text-center"> <%= order.category_name %></h3>
        <% end %>
      </div>
      <div class="pass-card-footer">
        <p class="gym-name text-center"><%= order.gym_name %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
