<% @orders.each do |order| %>
<div class="col-xs-4 col-sm-4 col-lg-4">
  <div class="pass-card">
    <div class="pass-card-photo" style="background: url('<%= order.gym_photo %>')">
      <div class="pass-card-title">
        <% if order.category_name != "Unlimited One Month Pass" %>
        <p> <%= order.category_name %></p>
        <% else %>
        <h3> <%= order.category_name %></h3>
        <% end %>
      </div>
      <div class="pass-card-footer">
        <p><%= order.gym_name %></p>
      </div>
    </div>
  </div>
</div>
<% end %>