<div class="wrapper">
  <%= render 'shared/search_bar' %>
  <div class="cards-container">
    <%= render @gyms%>
  </div>

  <div class="map-container">
    <%= render 'map' %>
  </div>
  <script>
    const map = document.getElementById('map');
    const mapContainer = document.getElementById('map-container');
  </script>
