<%= render 'shared/search_mobile' %>
<div class="wrapper-mobile">
  <div class="cards-container-mobile">
   <%#= render 'shared/search_mobile' %>
   <%= render @gyms%>
   <div class="map-container-mobile">
    <%= render 'map' %>
  </div>
</div>

<script>
  const map = document.getElementById('map');
  const mapContainer = document.getElementById('map-container-mobile');
</script>