<%= render 'shared/search_tablet' %>
<div class="wrapper-tablet">
  <div class="cards-container-tablet">
    <%= render @gyms%>
    <div class="map-container-tablet">
      <%= render 'map' %>
    </div>
  </div>

  

  <script>
    const map = document.getElementById('map');
    const mapContainer = document.getElementById('map-container');
  </script>




