<div class="gym-banner-mobile">
  <div id="gym-banner-description-mobile">
    <h1> <%= @gym.name %></h1>
    <h2><%= @gym.address %></h2>
    <h3> <%= @gym.facilities %></h3>
  </div>
</div>


<%= render 'shared/booking_category' %>