<div class="gym-banner-tablet">
  <div id="gym-banner-description-tablet">
    <h1> <%= @gym.name %></h1>
    <h2><%= @gym.address %></h2>
    <h3> <%= @gym.facilities %></h3>
  </div>
</div>


<%= render 'shared/booking_category_tablet' %>