.gym-banner {
  background: linear-gradient(-244deg, rgba(1,16,27,0.6) 100%, rgba(0,36,61,0.6) 100%),image-url('gym.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  height: 360px !important;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#gym-banner-description h1{
  color: #ffffff;
  font-family: $main-font;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  padding-top: 125px;

}

#gym-banner-description h2{
  color: #ffffff;
  font-family: $main-font;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;


}

#gym-banner-description h3{
  color: #ffffff;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  padding-top: 44px;
}







/// gyms#show mobile

.gym-banner-mobile {
  background: linear-gradient(-244deg, rgba(1,16,27,0.6) 100%, rgba(0,36,61,0.6) 100%),image-url('gym.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  height: 300px !important;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#gym-banner-description-mobile h1{
  color: #ffffff;
  font-family: $main-font;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  padding-top: 125px;
  position: relative;
  top: -10px;

}

#gym-banner-description-mobile h2{
  color: #ffffff;
  font-family: $main-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  top: -20px;
}

#gym-banner-description-mobile h3{
  color: #ffffff;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  padding-top: 44px;
  top: -55px;
}


// gym banner tablet

.gym-banner-tablet {
  background: linear-gradient(-244deg, rgba(1,16,27,0.6) 100%, rgba(0,36,61,0.6) 100%),image-url('gym.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  height: 300px !important;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#gym-banner-description-tablet h1{
  color: #ffffff;
  font-family: $main-font;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  padding-top: 125px;
  position: relative;
  top: -10px;

}

#gym-banner-description-tablet h2{
  color: #ffffff;
  font-family: $main-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  top: -20px;
}

#gym-banner-description-tablet h3{
  color: #ffffff;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  padding-top: 44px;
  top: -55px;
}

/// home page
.banner-home {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-home h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -100px;
}
.banner-home p {
  font-size: 28px;
  font-weight: 400;
  color: white;
  font-family: $main-font;
  margin-bottom: 30px;
  position: relative;
  top: -60px;
}

.banner-home h4 {
  font-size: 25px;
  font-weight: 200;
  color: white;
  font-family: $main-font;
  margin-bottom: 30px;
  position: relative;
  top: -20px;
}
