.gym-banner {
  background: linear-gradient(-244deg, rgba(1,16,27,0.6) 100%, rgba(0,36,61,0.6) 100%),image-url('gym.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  height: 360px !important;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#gym-banner-description h1{
  color: #ffffff;
  font-family: $main-font;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  padding-top: 125px;

}

#gym-banner-description h2{
  color: #ffffff;
  font-family: $main-font;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;


}

#gym-banner-description h3{
  color: #ffffff;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  padding-top: 44px;
}