.button-buy {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  background-color: $ez-blue;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: absolute;
  top: 280px;
  left: 75px;


  &:hover{
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}

#button-text {
  position: relative;
  bottom: -22px;
}

#button-text h2 {
  color: white;
  font-family: $main-font;
  font-size: 20px;
  position: relative;
  top: -40px;
  font-weight: 900;
}



.button-buy-review {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  background-color: $ez-blue;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: absolute;
  top: 345px;
  right: 105px;


  &:hover{
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}

#button-text-review {
  position: relative;
  bottom: -22px;
}

#button-text-review h2 {
  color: white;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  position: relative;
  
}


.button-home {
 width: 200px;
 height: 40px;
 border-radius: 40px;
 font-family: "Lato", "sans-serif";
 font-size: 24px;
 font-weight: 900;
 letter-spacing: 0.5px;
 color: #ffffff;
 position: relative;
 top: 150px;

 &:hover{
  opacity: 1;
  text-decoration: none;
  color: white;
}
}


#button-home-text h2 {
  font-size: 18px;
  position: relative;
  top: -15px;
  font-weight: 900;
}

.button-my-passes {
  width: 270px;
  height: 50px;
  border-radius: 40px;
  background-color: #45EBA5;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  top: 150px;
  right: -30px;
  position: relative;
}

#button-text-summary h2 {
  color: white;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  position: absolute;
  top: -10px;
  right: 90px;
}

#button-text-summary h6 {
  color: white;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  position: absolute;
  top: 453px;
  right: 585px;

}

.payment-button {
  position: relative;
  bottom: -235px;

}