.button-buy {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  background-color: $ez-blue;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: absolute;
  top: 251px;
  left: 74px;


  &:hover{
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}

#button-text {
  position: relative;
  bottom: -22px;
}

#button-text h2 {
  color: white;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  position: relative;
  top: -37px;
  
}



.button-buy-review {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  background-color: $ez-blue;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: absolute;
  top: 345px;
  right: 105px;


  &:hover{
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}

#button-text-review {
  position: relative;
  bottom: -22px;
}

#button-text-review h2 {
  color: white;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  position: relative;
  
}


.button-home {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  background-color: $ez-blue;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: absolute;
  top: 455px;
  right: 280px;
  &:hover{
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}

.button-my-passes {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  background-color: $ez-green;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: absolute;
  top: 455px;
  right: 705px;
  &:hover{
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}

#button-text-summary h2 {
  color: white;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  position: absolute;
  top: 440px;
  left: 723px;
}

#button-text-summary h6 {
  color: white;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  position: absolute;
  top: 452px;
  left: 300px;
}


.button-home {
  width: 275px;
  height: 60px;
  border-radius: 40px;
  background-color: #35BCB6;
  font-family: "Lato", "sans-serif";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  position: absolute;
  top: 715px;
  right: 590px;
}

#button-home-text h2 {
  color: white;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 900;
  position: absolute;
  top: -10px;
  left: 50px;
} 