.confirmation-box{
  overflow: hidden;
  color: #333333;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  margin: 5px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#confirmation-box-gym {
  display: flex;
}

.confirmation-box-thanks {
 width: 50vh;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 flex-direction: column;
 padding-right: 110px;

}
.confirmation-box-thanks h1 {
 font-family: $main-font;
 position: relative;
 left: 40px;
 font-size: 32px;
 font-weight: 700;
}


.confirmation-box-thanks p {
 font-family: $main-font;
 position: relative;
 left: 40px;
 font-size: 18px;
 font-weight: 200;
 bottom: -50px;
}

.confirmation-box-thanks h5 {
 font-family: $main-font;
 position: relative;
 left: 40px;
 font-size: 18px;
 font-weight: 200;
 bottom: -100px;
}

.confirmation-box-thanks h6 {
 font-family: $main-font;
 position: relative;
 left: 40px;
 font-size: 18px;
 font-weight: 200;
 bottom: -100px;
}



.card-confirmation {
  width: 800px;
  height: 500px;
}

