.picture-background {
  background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),image-url('woman-sport.jpg');
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  width: 100vw;
  margin: auto;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-background h1 {
  font-size: 48px;
  font-family: $main-font;
  font-weight: 900;
  color: white;
  position: relative;
  top: -255px;
  left: 35%;
}

.picture-background h3 {
 font-size: 20px;
 font-family: $main-font;
 font-weight: 700;
 color: white;
 position: relative;
 top: -90px;
}


.point-one {
  position: relative;
  color: white;
  right: 50%;
  top:15%;
  font-family: $main-font;
}

.point-two {
 position: relative;
 color: white;
 right: 35%;
 top: 15%;
 font-family: $main-font;
}

.point-three {
 position: relative;
 color: white;
 right: 20%;
 top: 15%;
 font-family: $main-font;
}
.point-one, h2 {
  font-family: $main-font;
  font-weight: 400;
}

.point-one p {
  font-family: $main-font;
  font-weight: 400;
}


.point-two h2 {
  font-family: $main-font;
}

.point-two p {
  font-family: $main-font;
  font-weight: 400;
}

.point-three h2 {
  font-family: $main-font;
}

.point-three p {
  font-family: $main-font;
  font-weight: 400;
}

#logo {
  
}
