.wrapper {
  background-color: white;
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
}

.wrapper-others {
  background-color: white;
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}

.map-container {
  height: 180%;
  width: 30% !important;
  padding-right: 20px;
  padding-top: 70px;

}


/// mobile

.wrapper-mobile {
  background-color: white;
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  position: relative;
  top: -5px;
  background: white;
}

.wrapper-others-mobile {
  background-color: white;
  width: 100%;
  height: 100%;
}

#map-mobile {
  height: 50%;
}

.map-container-mobile {
  height: 50%;
  width: 90%;
  position: absolute;
  top: 3990px;
  padding-left: -1px;
  left: 20px;
}


/// tablet

.map-container-tablet {

}

