.search-gyms-wrapper {
  width: 60vw;
  position: absolute;
  left: 35px;
  padding-top: 15px;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  font-weight: 400;
}

.search-gyms {
  position: center;
  margin: 0;
  color: black;
} 

.search-button {
 position: absolute;
 width: 80px;
 height: 40px;
 border: 1px solid #00B4CC;
 background: #00B4CC;
 text-align: center;
 color: white;
 border-radius: 10px;
 font-size: 18px;
 font-weight: 900;
 right: -83px;
 top: 15px;
}

.form-control {
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
  background: transparent;
  border: 0.5px solid #00B4CC;
}

// search mobile

.search-gyms-wrapper-mobile {
  width: 52vw;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  font-weight: 400;
  position: relative;
  left: 55px;
  top: 20px;

}

.search-gyms-mobile {
  position: center;
  margin: 0;
  color: black;
} 

.search-button-mobile {
  width: 80px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 900;
  right: -220px;
  top: -40px;
  position: relative;
}

